.idea/
.vs
.vscode
build
node_modules
npm-debug.log
package-lock.json
### Windows template
# Windows image file caches
Trumbs.db
ehthumbs.db

# Folder cinfig file
Dekstop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.ink

